.sessao{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  background-color: #C4EDFF;
  height: 100%;
  width: 80%;
  margin-bottom: 20%;
  border: gray, solid, 5px;
}
@media(max-width: 910px){
  .container{
    width: 100%;
  }
}
.texto{
  color: #154580;
  font-size: 1.5rem;
}
.input-pensamento{
  height: 5rem;
  width: 90%;
  margin-bottom: 2rem;
}
.input{
  height: 3rem;
  width: 90%;
}
.formulario{
    margin: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-1{
  width: 17rem;
  background-color: white;
  box-shadow: 1rem 1rem #154580;
}
.card-2{
  width: 17rem;
  background-color: white;
  box-shadow: 1rem 1rem #6BD1FF;
}
.card-3{
  width: 17rem;
  background-color: white;
  box-shadow: 1rem 1rem #84EEC1;
}
.modelo-card{
  margin-bottom: 10%;
}
.card-frases{
  margin-left: 10%;
  margin-right: 5%;
}
.container-cards{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.modelo-numero{
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}
.container-cards{
  margin-top: 5%;
}
.frase{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.autoria{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.titulo{
  font-weight: 700;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;
text-align: center;
  color: #154580;
}
.botao{
  width: 200px;
  height: 51px;
  background: #154580;
  mix-blend-mode: normal;
  border: 1px solid #84EEC1;
  border-radius: 10px;
  color: white;
}
.botoes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .botao{
    width: 75%;
  }
}
